<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agenda Cita Contactos - Citas del día</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="table-responsive">
			<table class = "table table-bordered">
				<tbody>
					<tr><h2><p class="bg-primary">Citas del día</p></h2></tr>
					<tr>
						<td>Hora</td>
						<td colspan="2">Cliente</td>
						<td colspan="2">Confirmar asistencia</td>
					</tr>
					<tr th:each="meeting : ${meetings}" id="meetingList">					
							<td th:text="${meeting.startDate} + ' a ' + ${meeting.endDate}"></td>
							<td th:text="${meeting.contact.name} + ' ' + ${meeting.contact.lastName}"></td>
							<td>
								 <a role="button" th:href="@{'/rest/contact/contact-by-id'(contactId=${meeting.contact.id})}">info</a>
							</td>
							<td>
								 <a role="button">Si</a>
							</td>
							<td>
								 <a role="button">No</a>
							</td>
					</tr>
				</tbody>
			</table>
		    <a role="button" class="btn btn-info" th:href="@{/}">Regresar</a>
			<a role="button" class="btn btn-success" th:href="@{/rest/contact/list-all-contacts}">Agenda Contactos</a>
			<a role="button" class="btn btn-primary" th:href="@{/rest/meeting/list-all-meetings}">Agenda Reuniones</a>
		</div>
	</div>	
</body>
</html>