<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agenda Cita Contactos - Bienvenido</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="table-responsive">
			<table class = "table table-bordered">
				<tbody>
					<tr><h2><p class="bg-primary">Agenda de Citas</p></h2></tr>
					<tr><h4>Selecciona el perfil al que perteneces para iniciar</h4></tr>
					<tr class="info">
						<td>
							<a role="button" th:href="@{/rest/meeting/list-meetings-day}">
								<img src="/assets/global/imgs/specialistLogo.png" class="img-responsive center-block" alt="Soy especialista" style="max-height:220px"/>
							</a>
						</td>
						<td>
						<a role="button" data-toggle="modal" data-target="#myModal">
							<img src="/assets/global/imgs/customerLogo.png" class="img-responsive center-block" alt="Reserva de Citas" style="max-height:220px"/>
						</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		  <!-- Modal -->
		  <div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog">
		      <!-- Modal content-->
		      <div class="modal-content">
		      	<form action="#" th:action="@{/rest/contact/contact-by-identification-number}" method="get">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Identificación de cliente</h4>
			        </div>
			        <div class="modal-body">
			          <p>Ingresa número tu número de identificación (tu cédula)</p>
			          <input type="number" class="form-control" placeholder="número de identificación" id="identificationNumber" name="identificationNumber"/>
			        </div>
			        <div class="modal-footer">
			          <button type="submit" class="btn btn-primary" id="btnIngresar">Ingresar</button>	
			          <button type="button" class="btn btn-default" data-dismiss="modal">Regresar</button>
			        </div>
			     </form> 
			 </div>    
    	</div>
  	</div>
 </div>
</body>
</html>