<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agenda Cita Contactos - Citas del día</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="table-responsive">
			<table class = "table table-bordered">
				<tbody>
					<tr><h2><p class="bg-primary">Contactos</p></h2></tr>
					<tr>
						<td></td>
						<td>Identificación</td>
						<td>Nombre</td>
						<td>Apellido</td>
						<td>Teléfono</td>
						<td>Correo</td>
					</tr>
					<tr th:each="contact : ${contacts}" id="contactsList">
							<td></td>					
							<td th:text="${contact.identificationNumber}"></td>
							<td th:text="${contact.name}"></td>
							<td th:text="${contact.lastName}"></td>
							<td th:text="${contact.phoneNumber}"></td>
							<td th:text="${contact.email}"></td>
					</tr>
				</tbody>
			</table>
		    <a role="button" class="btn btn-info" th:href="@{/}">Regresar</a>
			<a role="button" class="btn btn-success" th:href="@{/rest/contact/new-contact}">Agregar Contacto</a>
		</div>
	</div>	
</body>
</html>