<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agenda Cita Contactos - Reserva de Citas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="table-responsive">
			<table class = "table table-bordered">
				<tbody>
					<tr><h2><p class="bg-primary">Citas Disponibles</p></h2></tr>
					<tr><h4>Presiona el botón reservar sobre la cita que desea sea agendada a su nombre</h4></tr>
					<tr class="info">
						<td><p class="text-right">Cliente:</p></td>
						<td id= "name" th:text="${contact.name} + ' ' + ${contact.lastName}"></td>
					</tr>
					<tr th:each="meeting : ${meetings}" id="meetingList">					
							<td th:text="${meeting.startDate} + ' a ' + ${meeting.endDate}" id="${meeting.id}"></td>
							<td>
								 <a role="button" th:href="@{'/rest/meeting/book-meeting'(meetingId=${meeting.id},contactId=${contact.id})}">Reservar</a>
							</td>
					</tr>
				</tbody>
			</table>
			<a role="button" class="btn btn-info" th:href="@{/}">Regresar</a>
		</div>
	</div>	
</body>
</html>