<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agenda Cita Contactos - Nuevo Contacto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div>
			<h2><p class="bg-primary">Crear Contacto</p></h2>
		</div>
		<div>
			<form action="#" th:action="@{/rest/contact/create-contact}" th:object="${contact}" method="post">
				
				<label for="identificationNumber">Numero de identificación</label>
				<input type="number" class="form-control" th:field="*{identificationNumber}" id="identificationNumber" name="identificationNumber" placeholder="Cédula de ciudadnía" required="required"/>
				
				<label for="name">Nombre del contacto</label>
				<input type="text" class="form-control" th:field="*{name}" id="name" name="name" placeholder="Nombre contacto" required="required"/>
				
				<label for="lastName">Apellido del contacto</label>
				<input type="text" class="form-control" th:field="*{lastName}" id="lastName" name="lastName" placeholder="Apellido contacto" required="required"/>
				
				<label for="phoneNumber">Número de teléfono</label>
				<input type="number" class="form-control" th:field="*{phoneNumber}" id="phoneNumber" name="phoneNumber" placeholder="Número de contacto" required="required"/>
				
				<label for="email">Correo electrónico</label>
				<input type="email" class="form-control" th:field="*{email}" id="email" name="email" placeholder="Email de contacto" required="required"/>
				
				<br />
				<a role="button" class="btn btn-info" th:href="@{/}">Regresar</a>
				<button type="submit" class="btn btn-success">Guardar Contacto</button>		
			
			</form>
		</div>
	</div>
</body>
</html>